/* 
    reset 
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
    general 
*/

:root{
    --gray-color: #898989;
    --white-color: #ffffff;
    --light-gray: #E5E5E5;
    --orange-color: #FF8F00;
    --aside-color: #051E34;
    --blue-color: #1A72E8;
    --dark-blue: #165BBA;
    --dark-white: #F7F7F7;
}

.bg-white{
    background-color: var(--white-color);
}

.bg-gray{
    background-color: var(--light-gray);
}

.bg-blue{
    background-color: var(--blue-color);
}

.bg-light-gray{
    background-color: var(--dark-white);
}

.bg-dark-blue{
    background-color: var(--dark-blue);
}

.white-color{
    color: var(--white-color);
}

.gray-color{
    color: var(--gray-color);
}

.orange-color{
    color: var(--orange-color);
}

.box-shadow-none:focus{
    box-shadow: none;
    border-color: rgb(222, 226, 230);
    background-color: var(--light-gray);
}

.border-debug{
    border: 1px dashed lightcoral;
}

.border-none{
    border: none;
}

.m-w-50{
    max-width: 50px;
}

.vh{
    height: calc(100vh - 70px);
}

.gray-overlay:hover{
    background-color: var(--gray-color);
}

.back-img{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--aside-color);
}

.height-100{
    height: 100%;
}

.fs-em{
    font-size: 0.8em;
}

.my-fs-small{
    font-size: 0.5em;
}

.my-border-white{
    border: 1px solid white;
}

.my-border-white:hover{
    border: 1px solid white;
    color: var(--white-color);
}

#offcanvasRight{
    width: 45%;
}

@media screen and (max-width:992px) {

    #offcanvasRight{
        width: 100%;
    }
    
}

/* 
    header 
*/

/* 
    main 
*/

.square-box{
    width: 10px;
    height: 10px;
    border: 1px solid var(--gray-color);
    padding: 5px 7px;
    border-radius: 5px;
}

/* 
    footer 
*/
